In [1]:
# Dependencies
import pandas as pd
import numpy as np
from pathlib import Path

In [2]:
# Reference the file where the CSV is located
csv_path = Path("Car Sales.xlsx - car_data.csv")

# Import the data into a Pandas DataFrame
df = pd.read_csv(csv_path, low_memory=False)

df.head(50)

,Car_id,Date,Customer Name,Gender,Annual Income,Dealer_Name,Company,Model,Engine,Transmission,Color,Price ($),Dealer_No,Body Style,Phone,Dealer_Region
0,C_CND_000001,1/2/2022,Geraldine,Male,13500,Buddy Storbeck's Diesel Service Inc,Ford,Expedition,DoubleÂ Overhead Camshaft,Auto,Black,26000,06457-3834,SUV,8264678,Middletown
1,C_CND_000002,1/2/2022,Gia,Male,1480000,C & M Motors Inc,Dodge,Durango,DoubleÂ Overhead Camshaft,Auto,Black,19000,60504-7114,SUV,6848189,Aurora
2,C_CND_000003,1/2/2022,Gianna,Male,1035000,Capitol KIA,Cadillac,Eldorado,Overhead Camshaft,Manual,Red,31500,38701-8047,Passenger,7298798,Greenville
3,C_CND_000004,1/2/2022,Giselle,Male,13500,Chrysler of Tri-Cities,Toyota,Celica,Overhead Camshaft,Manual,Pale White,14000,99301-3882,SUV,6257557,Pasco
4,C_CND_000005,1/2/2022,Grace,Male,1465000,Chrysler Plymouth,Acura,TL,DoubleÂ Overhead Camshaft,Auto,Red,24500,53546-9427,Hatchback,7081483,Janesville
5,C_CND_000006,1/2/2022,Guadalupe,Male,850000,Classic Chevy,Mitsubishi,Diamante,Overhead Camshaft,Manual,Pale White,12000,85257-3102,Hatchback,7315216,Scottsdale
6,C_CND_000007,1/2/2022,Hailey,Male,1600000,Clay Johnson Auto Sales,Toyota,Corolla,Overhead Camshaft,Manual,Pale White,14000,78758-7841,Passenger,7727879,Austin
7,C_CND_000008,1/2/2022,Graham,Male,13500,U-Haul CO,Mitsubishi,Galant,DoubleÂ Overhead Camshaft,Auto,Pale White,42000,78758-7841,Passenger,6206512,Austin
8,C_CND_000009,1/2/2022,Naomi,Male,815000,Rabun Used Car Sales,Chevrolet,Malibu,Overhead Camshaft,Manual,Pale White,82000,85257-3102,Hardtop,7194857,Pasco
9,C_CND_000010,1/2/2022,Grayson,Female,13500,Rabun Used Car Sales,Ford,Escort,DoubleÂ Overhead Camshaft,Auto,Pale White,15000,85257-3102,Passenger,7836892,Scottsdale
10,C_CND_000011,1/2/2022,Gregory,Male,13500,Race Car Help,Acura,RL,Overhead Camshaft,Manual,Pale White,31000,78758-7841,SUV,7995489,Austin
11,C_CND_000012,1/2/2022,Amar'E,Male,13500,Race Car Help,Nissan,Pathfinder,DoubleÂ Overhead Camshaft,Auto,Pale White,46000,78758-7841,Hardtop,7288103,Pasco
12,C_CND_000013,1/2/2022,Griffin,Male,885000,Saab-Belle Dodge,Mercury,Grand Marquis,DoubleÂ Overhead Camshaft,Auto,Black,9000,60504-7114,SUV,6842408,Aurora
13,C_CND_000014,1/2/2022,Harrison,Male,13500,Scrivener Performance Engineering,BMW,323i,DoubleÂ Overhead Camshaft,Auto,Pale White,15000,38701-8047,Hatchback,7558767,Greenville
14,C_CND_000015,1/2/2022,Zainab,Male,722000,Buddy Storbeck's Diesel Service Inc,Chrysler,Sebring Coupe,Overhead Camshaft,Manual,Pale White,26000,06457-3834,Sedan,7677191,Middletown
15,C_CND_000016,1/2/2022,Zara,Male,746000,C & M Motors Inc,Subaru,Forester,Overhead Camshaft,Manual,Pale White,17000,60504-7114,Hatchback,8431908,Aurora
16,C_CND_000017,1/2/2022,Zoe,Female,535000,Capitol KIA,Hyundai,Accent,Overhead Camshaft,Manual,Black,18000,38701-8047,Hatchback,7814646,Greenville
17,C_CND_000018,1/2/2022,Zoey,Female,570000,Chrysler of Tri-Cities,Cadillac,Eldorado,DoubleÂ Overhead Camshaft,Auto,Pale White,31000,99301-3882,Passenger,7456650,Pasco
18,C_CND_000019,1/2/2022,Aaliyah,Male,685000,Chrysler Plymouth,Toyota,Land Cruiser,DoubleÂ Overhead Camshaft,Auto,Pale White,33000,53546-9427,SUV,7627010,Janesville
19,C_CND_000020,1/2/2022,Abigail,Male,455000,Classic Chevy,Honda,Accord,DoubleÂ Overhead Camshaft,Auto,Pale White,21000,85257-3102,Sedan,6736704,Scottsdale
20,C_CND_000021,1/2/2022,Adrianna,Male,13500,Clay Johnson Auto Sales,Toyota,4Runner,Overhead Camshaft,Manual,Black,25000,78758-7841,Sedan,7889827,Austin
21,C_CND_000022,1/2/2022,Joshua,Male,2500000,Classic Chevy,Infiniti,I30,DoubleÂ Overhead Camshaft,Auto,Black,21000,85257-3102,Hardtop,6183219,Austin
22,C_CND_000023,1/2/2022,Marcus,Male,585000,Diehl Motor CO Inc,Audi,A4,Overhead Camshaft,Manual,Pale White,12000,06457-3834,Hardtop,8097778,Middletown
23,C_CND_000024,1/2/2022,Arthur,Male,920000,Star Enterprises Inc,Porsche,Carrera Cabrio,DoubleÂ Overhead Camshaft,Auto,Pale White,18000,99301-3882,Passenger,7959858,Pasco
24,C_CND_000025,1/2/2022,Lizzie,Male,672000,Suburban Ford,Volkswagen,Jetta,DoubleÂ Overhead Camshaft,Auto,Pale White,22000,53546-9427,Passenger,8570849,Janesville
25,C_CND_000026,1/2/2022,Florian,Male,801250,Tri-State Mack Inc,Dodge,Viper,DoubleÂ Overhead Camshaft,Auto,Pale White,31250,85257-3102,SUV,8520534,Scottsdale
26,C_CND_000027,1/2/2022,Cassandre,Female,820000,U-Haul CO,Buick,Regal,DoubleÂ Overhead Camshaft,Auto,Black,19000,78758-7841,Passenger,6362556,Austin
27,C_CND_000028,1/2/2022,Syrielle,Male,791000,Progressive Shippers Cooperative Association No,Chrysler,LHS,Overhead Camshaft,Manual,Pale White,41000,53546-9427,Hatchback,6281210,Janesville
28,C_CND_000029,1/2/2022,Sloane,Male,13500,Race Car Help,Chrysler,LHS,Overhead Camshaft,Manual,Pale White,41000,78758-7841,Hatchback,6292720,Janesville
29,C_CND_000030,1/2/2022,Sofia,Male,1020000,Ryder Truck Rental and Leasing,Saturn,LW,Overhead Camshaft,Manual,Pale White,13000,06457-3834,Hatchback,7698986,Scottsdale
30,C_CND_000031,1/2/2022,Sophia,Male,210000,Saab-Belle Dodge,Mitsubishi,3000GT,Overhead Camshaft,Manual,Pale White,20000,60504-7114,Sedan,8847858,Austin
31,C_CND_000032,1/2/2022,Sophie,Male,750000,Scrivener Performance Engineering,Mercedes-B,SLK230,Overhead Camshaft,Manual,Pale White,14000,38701-8047,Hatchback,8344679,Middletown
32,C_CND_000033,1/2/2022,Stella,Male,635000,Star Enterprises Inc,Honda,Accord,DoubleÂ Overhead Camshaft,Auto,Pale White,19000,99301-3882,Sedan,6827044,Aurora
33,C_CND_000034,1/2/2022,Suri,Male,675000,Tri-State Mack Inc,Honda,Civic,Overhead Camshaft,Manual,Black,43000,85257-3102,Hatchback,7954038,Greenville
34,C_CND_000035,1/2/2022,Sury,Male,880000,U-Haul CO,Jaguar,S-Type,DoubleÂ Overhead Camshaft,Auto,Black,16000,78758-7841,Passenger,7400390,Pasco
35,C_CND_000036,1/3/2022,Haley,Male,13500,Diehl Motor CO Inc,Volvo,S40,DoubleÂ Overhead Camshaft,Auto,Pale White,42000,06457-3834,Sedan,7153628,Middletown
36,C_CND_000037,1/3/2022,Hannah,Male,13500,Enterprise Rent A Car,Mercury,Mountaineer,DoubleÂ Overhead Camshaft,Auto,Pale White,21000,60504-7114,SUV,6125796,Aurora
37,C_CND_000038,1/3/2022,Haylee,Male,13500,Gartner Buick Hyundai Saab,Buick,Park Avenue,DoubleÂ Overhead Camshaft,Auto,Black,61000,38701-8047,Hatchback,7438037,Greenville
38,C_CND_000039,1/3/2022,Hayley,Male,941000,Hatfield Volkswagen,Mitsubishi,Montero Sport,DoubleÂ Overhead Camshaft,Auto,Pale White,39000,99301-3882,SUV,6837588,Pasco
39,C_CND_000040,1/3/2022,Harry,Female,13500,Star Enterprises Inc,Nissan,Sentra,DoubleÂ Overhead Camshaft,Auto,Black,16000,99301-3882,Passenger,7213857,Pasco
40,C_CND_000041,1/3/2022,Henry,Male,13500,Suburban Ford,Chrysler,Sebring Coupe,Overhead Camshaft,Manual,Pale White,26000,53546-9427,Sedan,7704004,Janesville
41,C_CND_000042,1/3/2022,Hersh,Female,13500,Tri-State Mack Inc,Volvo,S80,Overhead Camshaft,Manual,Pale White,21000,85257-3102,Sedan,8018700,Scottsdale
42,C_CND_000043,1/3/2022,Hershel,Male,967500,U-Haul CO,Chevrolet,Lumina,Overhead Camshaft,Manual,Black,42500,78758-7841,Passenger,6793858,Austin
43,C_CND_000044,1/3/2022,Aicha,Male,600000,Diehl Motor CO Inc,Mitsubishi,Montero Sport,DoubleÂ Overhead Camshaft,Auto,Black,45001,06457-3834,Hatchback,6739543,Middletown
44,C_CND_000045,1/3/2022,Aisha,Male,575000,Enterprise Rent A Car,Pontiac,Bonneville,Overhead Camshaft,Manual,Black,36001,60504-7114,Hatchback,6091237,Aurora
45,C_CND_000046,1/3/2022,Aissatou,Male,566000,Gartner Buick Hyundai Saab,Mercedes-B,C-Class,Overhead Camshaft,Manual,Pale White,12000,38701-8047,Hatchback,6547535,Greenville
46,C_CND_000047,1/3/2022,Alana,Male,1250000,Hatfield Volkswagen,BMW,323i,Overhead Camshaft,Manual,Pale White,21001,99301-3882,Hatchback,8689761,Pasco
47,C_CND_000048,1/3/2022,Chloe,Male,730000,Rabun Used Car Sales,Acura,TL,DoubleÂ Overhead Camshaft,Auto,Pale White,29000,85257-3102,Hatchback,6404807,Scottsdale
48,C_CND_000049,1/3/2022,Valentine,Male,4060000,Race Car Help,Nissan,Altima,DoubleÂ Overhead Camshaft,Auto,Pale White,20000,78758-7841,Hatchback,7117432,Austin
49,C_CND_000050,1/3/2022,Aurore,Male,13500,Ryder Truck Rental and Leasing,Cadillac,DeVille,DoubleÂ Overhead Camshaft,Auto,Pale White,22000,06457-3834,SUV,7836930,Middletown

In [3]:
df[["Unwanted_data","Customer_ID"]] = df["Car_id"].str.split(pat="C_CND_0", n = 0, expand = True)
df

,Car_id,Date,Customer Name,Gender,Annual Income,Dealer_Name,Company,Model,Engine,Transmission,Color,Price ($),Dealer_No,Body Style,Phone,Dealer_Region,Unwanted_data,Customer_ID
0,C_CND_000001,1/2/2022,Geraldine,Male,13500,Buddy Storbeck's Diesel Service Inc,Ford,Expedition,DoubleÂ Overhead Camshaft,Auto,Black,26000,06457-3834,SUV,8264678,Middletown,,00001
1,C_CND_000002,1/2/2022,Gia,Male,1480000,C & M Motors Inc,Dodge,Durango,DoubleÂ Overhead Camshaft,Auto,Black,19000,60504-7114,SUV,6848189,Aurora,,00002
2,C_CND_000003,1/2/2022,Gianna,Male,1035000,Capitol KIA,Cadillac,Eldorado,Overhead Camshaft,Manual,Red,31500,38701-8047,Passenger,7298798,Greenville,,00003
3,C_CND_000004,1/2/2022,Giselle,Male,13500,Chrysler of Tri-Cities,Toyota,Celica,Overhead Camshaft,Manual,Pale White,14000,99301-3882,SUV,6257557,Pasco,,00004
4,C_CND_000005,1/2/2022,Grace,Male,1465000,Chrysler Plymouth,Acura,TL,DoubleÂ Overhead Camshaft,Auto,Red,24500,53546-9427,Hatchback,7081483,Janesville,,00005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23901,C_CND_023902,12/31/2023,Martin,Male,13500,C & M Motors Inc,Plymouth,Voyager,Overhead Camshaft,Manual,Red,12000,60504-7114,Passenger,8583598,Pasco,,23902
23902,C_CND_023903,12/31/2023,Jimmy,Female,900000,Ryder Truck Rental and Leasing,Chevrolet,Prizm,DoubleÂ Overhead Camshaft,Auto,Black,16000,06457-3834,Hardtop,7914229,Middletown,,23903
23903,C_CND_023904,12/31/2023,Emma,Male,705000,Chrysler of Tri-Cities,BMW,328i,Overhead Camshaft,Manual,Red,21000,99301-3882,Sedan,7659127,Scottsdale,,23904
23904,C_CND_023905,12/31/2023,Victoire,Male,13500,Chrysler Plymouth,Chevrolet,Metro,DoubleÂ Overhead Camshaft,Auto,Black,31000,53546-9427,Passenger,6030764,Austin,,23905
23905,C_CND_023906,12/31/2023,Donovan,Male,1225000,Pars Auto Sales,Lexus,ES300,DoubleÂ Overhead Camshaft,Auto,Pale White,27500,38701-8047,Hardtop,7020564,Middletown,,23906

In [4]:
df = df.rename(columns = {"Unwanted_data":"Sales_ID", "Company":"Make"})
df

,Car_id,Date,Customer Name,Gender,Annual Income,Dealer_Name,Make,Model,Engine,Transmission,Color,Price ($),Dealer_No,Body Style,Phone,Dealer_Region,Sales_ID,Customer_ID
0,C_CND_000001,1/2/2022,Geraldine,Male,13500,Buddy Storbeck's Diesel Service Inc,Ford,Expedition,DoubleÂ Overhead Camshaft,Auto,Black,26000,06457-3834,SUV,8264678,Middletown,,00001
1,C_CND_000002,1/2/2022,Gia,Male,1480000,C & M Motors Inc,Dodge,Durango,DoubleÂ Overhead Camshaft,Auto,Black,19000,60504-7114,SUV,6848189,Aurora,,00002
2,C_CND_000003,1/2/2022,Gianna,Male,1035000,Capitol KIA,Cadillac,Eldorado,Overhead Camshaft,Manual,Red,31500,38701-8047,Passenger,7298798,Greenville,,00003
3,C_CND_000004,1/2/2022,Giselle,Male,13500,Chrysler of Tri-Cities,Toyota,Celica,Overhead Camshaft,Manual,Pale White,14000,99301-3882,SUV,6257557,Pasco,,00004
4,C_CND_000005,1/2/2022,Grace,Male,1465000,Chrysler Plymouth,Acura,TL,DoubleÂ Overhead Camshaft,Auto,Red,24500,53546-9427,Hatchback,7081483,Janesville,,00005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23901,C_CND_023902,12/31/2023,Martin,Male,13500,C & M Motors Inc,Plymouth,Voyager,Overhead Camshaft,Manual,Red,12000,60504-7114,Passenger,8583598,Pasco,,23902
23902,C_CND_023903,12/31/2023,Jimmy,Female,900000,Ryder Truck Rental and Leasing,Chevrolet,Prizm,DoubleÂ Overhead Camshaft,Auto,Black,16000,06457-3834,Hardtop,7914229,Middletown,,23903
23903,C_CND_023904,12/31/2023,Emma,Male,705000,Chrysler of Tri-Cities,BMW,328i,Overhead Camshaft,Manual,Red,21000,99301-3882,Sedan,7659127,Scottsdale,,23904
23904,C_CND_023905,12/31/2023,Victoire,Male,13500,Chrysler Plymouth,Chevrolet,Metro,DoubleÂ Overhead Camshaft,Auto,Black,31000,53546-9427,Passenger,6030764,Austin,,23905
23905,C_CND_023906,12/31/2023,Donovan,Male,1225000,Pars Auto Sales,Lexus,ES300,DoubleÂ Overhead Camshaft,Auto,Pale White,27500,38701-8047,Hardtop,7020564,Middletown,,23906

In [5]:
df.columns

Index(['Car_id', 'Date', 'Customer Name', 'Gender', 'Annual Income',
       'Dealer_Name', 'Make', 'Model', 'Engine', 'Transmission', 'Color',
       'Price ($)', 'Dealer_No ', 'Body Style', 'Phone', 'Dealer_Region',
       'Sales_ID', 'Customer_ID'],
      dtype='object')

In [6]:
df = df[['Customer_ID','Sales_ID','Date', 'Customer Name', 'Gender', 'Annual Income',
       'Dealer_Name', 'Make', 'Model', 'Engine', 'Transmission', 'Color',
       'Price ($)', 'Dealer_No ', 'Body Style', 'Phone', 'Dealer_Region']]

df['Sales_ID'] = range(1, len(df) + 1)
df["Customer_ID"] = df["Customer_ID"].str.lstrip('0')
df

C:\Users\fishb\AppData\Local\Temp\ipykernel_26440\2070035550.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Sales_ID'] = range(1, len(df) + 1)
C:\Users\fishb\AppData\Local\Temp\ipykernel_26440\2070035550.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Customer_ID"] = df["Customer_ID"].str.lstrip('0')

,Customer_ID,Sales_ID,Date,Customer Name,Gender,Annual Income,Dealer_Name,Make,Model,Engine,Transmission,Color,Price ($),Dealer_No,Body Style,Phone,Dealer_Region
0,1,1,1/2/2022,Geraldine,Male,13500,Buddy Storbeck's Diesel Service Inc,Ford,Expedition,DoubleÂ Overhead Camshaft,Auto,Black,26000,06457-3834,SUV,8264678,Middletown
1,2,2,1/2/2022,Gia,Male,1480000,C & M Motors Inc,Dodge,Durango,DoubleÂ Overhead Camshaft,Auto,Black,19000,60504-7114,SUV,6848189,Aurora
2,3,3,1/2/2022,Gianna,Male,1035000,Capitol KIA,Cadillac,Eldorado,Overhead Camshaft,Manual,Red,31500,38701-8047,Passenger,7298798,Greenville
3,4,4,1/2/2022,Giselle,Male,13500,Chrysler of Tri-Cities,Toyota,Celica,Overhead Camshaft,Manual,Pale White,14000,99301-3882,SUV,6257557,Pasco
4,5,5,1/2/2022,Grace,Male,1465000,Chrysler Plymouth,Acura,TL,DoubleÂ Overhead Camshaft,Auto,Red,24500,53546-9427,Hatchback,7081483,Janesville
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23901,23902,23902,12/31/2023,Martin,Male,13500,C & M Motors Inc,Plymouth,Voyager,Overhead Camshaft,Manual,Red,12000,60504-7114,Passenger,8583598,Pasco
23902,23903,23903,12/31/2023,Jimmy,Female,900000,Ryder Truck Rental and Leasing,Chevrolet,Prizm,DoubleÂ Overhead Camshaft,Auto,Black,16000,06457-3834,Hardtop,7914229,Middletown
23903,23904,23904,12/31/2023,Emma,Male,705000,Chrysler of Tri-Cities,BMW,328i,Overhead Camshaft,Manual,Red,21000,99301-3882,Sedan,7659127,Scottsdale
23904,23905,23905,12/31/2023,Victoire,Male,13500,Chrysler Plymouth,Chevrolet,Metro,DoubleÂ Overhead Camshaft,Auto,Black,31000,53546-9427,Passenger,6030764,Austin
23905,23906,23906,12/31/2023,Donovan,Male,1225000,Pars Auto Sales,Lexus,ES300,DoubleÂ Overhead Camshaft,Auto,Pale White,27500,38701-8047,Hardtop,7020564,Middletown

In [7]:
df['Car_ID'] = range(1, len(df) + 1)
df

,Customer_ID,Sales_ID,Date,Customer Name,Gender,Annual Income,Dealer_Name,Make,Model,Engine,Transmission,Color,Price ($),Dealer_No,Body Style,Phone,Dealer_Region,Car_ID
0,1,1,1/2/2022,Geraldine,Male,13500,Buddy Storbeck's Diesel Service Inc,Ford,Expedition,DoubleÂ Overhead Camshaft,Auto,Black,26000,06457-3834,SUV,8264678,Middletown,1
1,2,2,1/2/2022,Gia,Male,1480000,C & M Motors Inc,Dodge,Durango,DoubleÂ Overhead Camshaft,Auto,Black,19000,60504-7114,SUV,6848189,Aurora,2
2,3,3,1/2/2022,Gianna,Male,1035000,Capitol KIA,Cadillac,Eldorado,Overhead Camshaft,Manual,Red,31500,38701-8047,Passenger,7298798,Greenville,3
3,4,4,1/2/2022,Giselle,Male,13500,Chrysler of Tri-Cities,Toyota,Celica,Overhead Camshaft,Manual,Pale White,14000,99301-3882,SUV,6257557,Pasco,4
4,5,5,1/2/2022,Grace,Male,1465000,Chrysler Plymouth,Acura,TL,DoubleÂ Overhead Camshaft,Auto,Red,24500,53546-9427,Hatchback,7081483,Janesville,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23901,23902,23902,12/31/2023,Martin,Male,13500,C & M Motors Inc,Plymouth,Voyager,Overhead Camshaft,Manual,Red,12000,60504-7114,Passenger,8583598,Pasco,23902
23902,23903,23903,12/31/2023,Jimmy,Female,900000,Ryder Truck Rental and Leasing,Chevrolet,Prizm,DoubleÂ Overhead Camshaft,Auto,Black,16000,06457-3834,Hardtop,7914229,Middletown,23903
23903,23904,23904,12/31/2023,Emma,Male,705000,Chrysler of Tri-Cities,BMW,328i,Overhead Camshaft,Manual,Red,21000,99301-3882,Sedan,7659127,Scottsdale,23904
23904,23905,23905,12/31/2023,Victoire,Male,13500,Chrysler Plymouth,Chevrolet,Metro,DoubleÂ Overhead Camshaft,Auto,Black,31000,53546-9427,Passenger,6030764,Austin,23905
23905,23906,23906,12/31/2023,Donovan,Male,1225000,Pars Auto Sales,Lexus,ES300,DoubleÂ Overhead Camshaft,Auto,Pale White,27500,38701-8047,Hardtop,7020564,Middletown,23906

In [8]:
df.columns

Index(['Customer_ID', 'Sales_ID', 'Date', 'Customer Name', 'Gender',
       'Annual Income', 'Dealer_Name', 'Make', 'Model', 'Engine',
       'Transmission', 'Color', 'Price ($)', 'Dealer_No ', 'Body Style',
       'Phone', 'Dealer_Region', 'Car_ID'],
      dtype='object')

In [9]:
df = df[['Customer_ID','Sales_ID', 'Car_ID','Date', 'Customer Name', 'Gender', 'Annual Income',
       'Dealer_Name', 'Make', 'Model', 'Engine', 'Transmission', 'Color',
       'Price ($)', 'Dealer_No ', 'Body Style', 'Phone', 'Dealer_Region']]

df

,Customer_ID,Sales_ID,Car_ID,Date,Customer Name,Gender,Annual Income,Dealer_Name,Make,Model,Engine,Transmission,Color,Price ($),Dealer_No,Body Style,Phone,Dealer_Region
0,1,1,1,1/2/2022,Geraldine,Male,13500,Buddy Storbeck's Diesel Service Inc,Ford,Expedition,DoubleÂ Overhead Camshaft,Auto,Black,26000,06457-3834,SUV,8264678,Middletown
1,2,2,2,1/2/2022,Gia,Male,1480000,C & M Motors Inc,Dodge,Durango,DoubleÂ Overhead Camshaft,Auto,Black,19000,60504-7114,SUV,6848189,Aurora
2,3,3,3,1/2/2022,Gianna,Male,1035000,Capitol KIA,Cadillac,Eldorado,Overhead Camshaft,Manual,Red,31500,38701-8047,Passenger,7298798,Greenville
3,4,4,4,1/2/2022,Giselle,Male,13500,Chrysler of Tri-Cities,Toyota,Celica,Overhead Camshaft,Manual,Pale White,14000,99301-3882,SUV,6257557,Pasco
4,5,5,5,1/2/2022,Grace,Male,1465000,Chrysler Plymouth,Acura,TL,DoubleÂ Overhead Camshaft,Auto,Red,24500,53546-9427,Hatchback,7081483,Janesville
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23901,23902,23902,23902,12/31/2023,Martin,Male,13500,C & M Motors Inc,Plymouth,Voyager,Overhead Camshaft,Manual,Red,12000,60504-7114,Passenger,8583598,Pasco
23902,23903,23903,23903,12/31/2023,Jimmy,Female,900000,Ryder Truck Rental and Leasing,Chevrolet,Prizm,DoubleÂ Overhead Camshaft,Auto,Black,16000,06457-3834,Hardtop,7914229,Middletown
23903,23904,23904,23904,12/31/2023,Emma,Male,705000,Chrysler of Tri-Cities,BMW,328i,Overhead Camshaft,Manual,Red,21000,99301-3882,Sedan,7659127,Scottsdale
23904,23905,23905,23905,12/31/2023,Victoire,Male,13500,Chrysler Plymouth,Chevrolet,Metro,DoubleÂ Overhead Camshaft,Auto,Black,31000,53546-9427,Passenger,6030764,Austin
23905,23906,23906,23906,12/31/2023,Donovan,Male,1225000,Pars Auto Sales,Lexus,ES300,DoubleÂ Overhead Camshaft,Auto,Pale White,27500,38701-8047,Hardtop,7020564,Middletown

In [10]:
df.dtypes

Customer_ID      object
Sales_ID          int64
Car_ID            int64
Date             object
Customer Name    object
Gender           object
Annual Income     int64
Dealer_Name      object
Make             object
Model            object
Engine           object
Transmission     object
Color            object
Price ($)         int64
Dealer_No        object
Body Style       object
Phone             int64
Dealer_Region    object
dtype: object

In [11]:
df["Customer_ID"] = df["Customer_ID"].astype(int)
df

,Customer_ID,Sales_ID,Car_ID,Date,Customer Name,Gender,Annual Income,Dealer_Name,Make,Model,Engine,Transmission,Color,Price ($),Dealer_No,Body Style,Phone,Dealer_Region
0,1,1,1,1/2/2022,Geraldine,Male,13500,Buddy Storbeck's Diesel Service Inc,Ford,Expedition,DoubleÂ Overhead Camshaft,Auto,Black,26000,06457-3834,SUV,8264678,Middletown
1,2,2,2,1/2/2022,Gia,Male,1480000,C & M Motors Inc,Dodge,Durango,DoubleÂ Overhead Camshaft,Auto,Black,19000,60504-7114,SUV,6848189,Aurora
2,3,3,3,1/2/2022,Gianna,Male,1035000,Capitol KIA,Cadillac,Eldorado,Overhead Camshaft,Manual,Red,31500,38701-8047,Passenger,7298798,Greenville
3,4,4,4,1/2/2022,Giselle,Male,13500,Chrysler of Tri-Cities,Toyota,Celica,Overhead Camshaft,Manual,Pale White,14000,99301-3882,SUV,6257557,Pasco
4,5,5,5,1/2/2022,Grace,Male,1465000,Chrysler Plymouth,Acura,TL,DoubleÂ Overhead Camshaft,Auto,Red,24500,53546-9427,Hatchback,7081483,Janesville
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23901,23902,23902,23902,12/31/2023,Martin,Male,13500,C & M Motors Inc,Plymouth,Voyager,Overhead Camshaft,Manual,Red,12000,60504-7114,Passenger,8583598,Pasco
23902,23903,23903,23903,12/31/2023,Jimmy,Female,900000,Ryder Truck Rental and Leasing,Chevrolet,Prizm,DoubleÂ Overhead Camshaft,Auto,Black,16000,06457-3834,Hardtop,7914229,Middletown
23903,23904,23904,23904,12/31/2023,Emma,Male,705000,Chrysler of Tri-Cities,BMW,328i,Overhead Camshaft,Manual,Red,21000,99301-3882,Sedan,7659127,Scottsdale
23904,23905,23905,23905,12/31/2023,Victoire,Male,13500,Chrysler Plymouth,Chevrolet,Metro,DoubleÂ Overhead Camshaft,Auto,Black,31000,53546-9427,Passenger,6030764,Austin
23905,23906,23906,23906,12/31/2023,Donovan,Male,1225000,Pars Auto Sales,Lexus,ES300,DoubleÂ Overhead Camshaft,Auto,Pale White,27500,38701-8047,Hardtop,7020564,Middletown

In [12]:
df.dtypes

Customer_ID       int32
Sales_ID          int64
Car_ID            int64
Date             object
Customer Name    object
Gender           object
Annual Income     int64
Dealer_Name      object
Make             object
Model            object
Engine           object
Transmission     object
Color            object
Price ($)         int64
Dealer_No        object
Body Style       object
Phone             int64
Dealer_Region    object
dtype: object

In [13]:
Car_df = df[['Car_ID', 'Date', 'Make', 'Model', 'Engine', 'Transmission', 'Body Style', 'Color', 'Price ($)']]

Car_df.columns = ['Car ID', 'Date', 'Company', 'Model', 'Engine', 'Transmission', 'Body Style', 'Color', 'Price']

Car_df.head()

,Car ID,Date,Company,Model,Engine,Transmission,Body Style,Color,Price
0,1,1/2/2022,Ford,Expedition,DoubleÂ Overhead Camshaft,Auto,SUV,Black,26000
1,2,1/2/2022,Dodge,Durango,DoubleÂ Overhead Camshaft,Auto,SUV,Black,19000
2,3,1/2/2022,Cadillac,Eldorado,Overhead Camshaft,Manual,Passenger,Red,31500
3,4,1/2/2022,Toyota,Celica,Overhead Camshaft,Manual,SUV,Pale White,14000
4,5,1/2/2022,Acura,TL,DoubleÂ Overhead Camshaft,Auto,Hatchback,Red,24500

In [14]:
Customer_df = df[['Customer_ID', 'Customer Name', 'Gender', 'Annual Income', 'Phone']]

Customer_df.columns = ['Customer ID', 'Customer Name', 'Gender', 'Annual Income', 'Phone Number']

Customer_df.head()

   Customer ID Customer Name Gender  Annual Income  Phone Number
0            1     Geraldine   Male          13500       8264678
1            2           Gia   Male        1480000       6848189
2            3        Gianna   Male        1035000       7298798
3            4       Giselle   Male          13500       6257557
4            5         Grace   Male        1465000       7081483

In [16]:
Customer_df["Customer Name"].replace('', "No_Name", inplace=True)

C:\Users\fishb\AppData\Local\Temp\ipykernel_26440\324657274.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Customer_df["Customer Name"].replace('', "No_Name", inplace=True)

In [17]:
Dealer_df = df[['Sales_ID', 'Dealer_Name', 'Dealer_Region', 'Dealer_No ']]

Dealer_df.columns = ['Sales ID', 'Dealer Name', 'Dealer Region', 'Dealer Number']

Dealer_df.head()

   Sales ID                          Dealer Name Dealer Region Dealer Number
0         1  Buddy Storbeck's Diesel Service Inc    Middletown    06457-3834
1         2                     C & M Motors Inc        Aurora    60504-7114
2         3                          Capitol KIA    Greenville    38701-8047
3         4               Chrysler of Tri-Cities         Pasco    99301-3882
4         5                    Chrysler Plymouth    Janesville    53546-9427

In [18]:
Car_df.to_csv('Car_Table.csv', index=False, encoding='utf-8')

In [19]:
Customer_df.to_csv('Customer_Table.csv', index=False, encoding='utf-8')

In [20]:
Dealer_df.to_csv('Dealer_Table.csv', index=False, encoding='utf-8')